.card-producto {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.card-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imagen-producto {
  width: 170px;
  height: 180px;
  object-fit: cover;
  margin: 5px 55px 0px;
}

.info-producto {
  padding: 1rem;
  flex-grow: 1;
}

.nombre-producto{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.precio-producto {
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 1rem;
}

.botones-productos {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #eee;
}

.botones-productos button {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.boton-detalle {
  background-color: #2196f3;
  color: white;
}

.boton-detalle:hover {
  background-color: #1976d2;
}

.boton-anadir {
  background-color: #ff9800;
  color: white;
}

.boton-anadir:hover {
  background-color: #f57c00;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
